{% extends 'c4etech/blog.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'homeappliances/homeappliances.css' %}">
{% endblock %}

{% block content %}
<main class="container">
  <h1 class="page-title">HOME APPLIANCES</h1>
  <h2 class="subtitle">Select the Product</h2>

  <section class="brand-grid">
        {% for brand in brands %}
            <a class="brand-card" href="{% url 'homeappliances:homeappliances_brands' brand.slug %}">
                <div class="brand-thumb">
                    <img src="{% static brand.image %}" alt="{{brand.name}} logo"/>
                </div>
                <div class="brand-name">{{brand.name}}</div>
            </a>
        {% endfor %}
  </section>
</main>
{% endblock %}
